<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Tasks</title>
</head>
<body th:data-modified="${modified}">
	<h1>Tasks</h1>
	<button onclick="window.location.href = '/';">Home</button><br>
	<button onclick="window.location.href = '/tasks/new';">New task</button><br>
	<th:block th:if="${message}">
		<hr>
		<h2 th:text="${message}"/>
	</th:block>
	<hr>
	<div th:each="task : ${tasks}">
		<span th:style="${task.style}">
			<h3 th:text="${task.title}"/>
			<h3 th:text="${task.start}+' - '+${task.deadline}"></h3>
			<h3 th:text="${task.description}"/>
		</span>
		<form action="/tasks/form" method="get">
			<input type="hidden" th:id="'taskId'+${task.id}" name="taskId" th:value="${task.id}">
			<input type="radio" th:id="'throw'+${task.id}" name="action" value="throw">
			<label th:for="'remove'+${task.id}">Throw</label>
			<select name="userId">
				<span th:each="user : ${users}">
					<option th:value="${user.id}" th:text="${user.username}"/>
				</span>
			</select>
			<br>
			<input type="radio" th:id="'remove'+${task.id}" name="action" value="remove">
			<label th:for="'remove'+${task.id}">Remove</label>
			<br>
			<input type="submit" value="Submit"><br>
		</form>
		<hr>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
	$(document).ready(function() {
		history.replaceState(null, null, '/tasks');
		const modifiedElement = document.querySelector("body");
		const modifiedValue = modifiedElement.getAttribute("data-modified");
		console.log(modifiedValue);
		setInterval(function() {
			$.get("/getLastModified", function(result) {
				console.log(result);
				console.log(modifiedValue);
				if (result != modifiedValue) {
					window.location.replace("/tasks?message=You have a new task!");
				}
			});
		}, 5000);
	});
	</script>
</body>
</html>